
    <p>home works!
        Translations
Effective date: December 19, 2020

Thanks for entrusting GitHub Inc. (“GitHub”, “we”) with your source code, your projects, and your personal information. Holding on to your private information is a serious responsibility, and we want you to know how we're handling it.

All capitalized terms have their definition in GitHub’s Terms of Service, unless otherwise noted here.

The short version
We use your personal information as this Privacy Statement describes. No matter where you are, where you live, or what your citizenship is, we provide the same high standard of privacy protection to all our users around the world, regardless of their country of origin or location.

Of course, the short version and the Summary below don't tell you everything, so please read on for more details.
</p>


