<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
    <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="{{carousal1}}"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="{{carousal2}}"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="{{carousal3}}"></button>
                </div>
            
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                <div class="carousel-item {{carousal1}}">
                    <img src="https://st3.depositphotos.com/1010449/12492/i/950/depositphotos_124927752-stock-photo-ganesha-statue-lord-of-success.jpg" alt="Los Angeles" class="d-block w-100">
                </div>
                <div class="carousel-item {{carousal2}}" >
                    <img src="https://st2.depositphotos.com/1005147/9880/i/950/depositphotos_98800220-stock-photo-indian-gods-in-a-temple.jpg" alt="Chicago" class="d-block w-100">
                </div>
                <div class="carousel-item {{carousal3}}">
                    <img src="https://st.depositphotos.com/1014097/2732/i/950/depositphotos_27326627-stock-photo-ganesh.jpg" alt="New York" class="d-block w-100">
                </div>
                </div>
            
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2">
    <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="{{carousal1}}"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="{{carousal2}}"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="{{carousal3}}"></button>
                </div>
            
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                <div class="carousel-item {{carousal1}}">
                    <img src="https://st3.depositphotos.com/1010449/12492/i/950/depositphotos_124927752-stock-photo-ganesha-statue-lord-of-success.jpg" alt="Los Angeles" class="d-block w-100">
                </div>
                <div class="carousel-item {{carousal2}}" >
                    <img src="https://st2.depositphotos.com/1005147/9880/i/950/depositphotos_98800220-stock-photo-indian-gods-in-a-temple.jpg" alt="Chicago" class="d-block w-100">
                </div>
                <div class="carousel-item {{carousal3}}">
                    <img src="https://st.depositphotos.com/1014097/2732/i/950/depositphotos_27326627-stock-photo-ganesh.jpg" alt="New York" class="d-block w-100">
                </div>
                </div>
            
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>