<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler {{buttonstat}}" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" attr.aria-expanded="{{navbutton}}" aria-label="Toggle navigation" (click)="navbuttonclick()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse {{divstat}}" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{dropdown}}" id="dropdown04" data-bs-toggle="dropdown" attr.aria-expanded="{{toggledrop}}" (click)="dropdowntoggle()">Dropdown</a>
          <ul class="dropdown-menu {{dropdown}}" aria-labelledby="dropdown04" data-bs-popper="none">
            <li><a class="dropdown-item" href="#" (click)="reset()" [routerLink]="locmenu.navpath">Login</a></li>
            <li><a class="dropdown-item" href="#" (click)="reset()">Another action</a></li>
            <li><a class="dropdown-item" href="#" (click)="reset()">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<main (click)="reset()">
  <div>
    <router-outlet></router-outlet>
  </div>
</main>
    


