.titlestyl {
    border-radius: 10px;
    background: #ffffffa4;
    border: 2px solid #eb0909;
    text-align: center;
  }

  .cardstyl {
    border-radius: 10px;
    background: #ffffffa4;
    border: 2px solid #2b09eb;
    text-align: left;
  }
  .btnn{
    margin: 10px;
  }