<div class="container mt-2" >
<div class="card " style="background-image: url('http://192.168.225.183:5000/media/public/frbg');width:100%;">
    
    <h4 class="card-title p-3 titlestyl m-2 " >John Doe</h4>
    <p class="card-text p-2 cardstyl m-2" >Some example text.</p>
    <div style="align-self: center;">
      <button type="button" class="btn btn-primary btnn">BookMark</button>
      <button type="button" class="btn btn-secondary btnn">Comments</button>
      <button type="button" class="btn btn-success btnn">Like</button>
      <button type="button" class="btn btn-danger btnn">Unlike</button>
    </div>
    
  </div>
</div>