<div class="container-fluid ">
    <div class="container ">
        <div class="row ">
            <div class="col-sm-10 login-box">
                <div class="row">
                    <div class="col-lg-8 col-md-7 log-det">
                        <div class="small-logo">
                            <i class="fab fa-asymmetrik"></i> Style Login
                        </div>

                        <div class="text-box-cont">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Username</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Password</span>
                                </div>
                                <input type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="row">
                                <p class="forget-p">Forget Password ?</p>
                            </div>
                            <div class="input-group center mb-3">
                                <button class="btn btn-success btn-round">SIGN IN</button>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 box-de">
                        <div class="ditk-inf">
                            <h2 class="w-100">Din't Have an Account </h2>
                            <p>Simply Create your account by clicking the Signup Button</p>
                            <a href="signup.html">
                            <button type="button" class="btn btn-outline-dark">SIGN UP</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>