<div class="container-fluid ">
    <div class="container ">
        <div class="row" style="justify-content: center;">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 p-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                    </div>
                    <input type="text" class="form-control "  placeholder="Username" aria-label="Username">
                </div>
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span>Password</span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password">
                </div>
                <div class="row">
                    <p class="forget-p">Forget Password ?</p>
                </div>
                <div class="input-group center mb-3">
                    <button class="btn btn-primary btn-round">SIGN IN</button>
                </div>  
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card p-5" id="signup">
                <h2 class="w-100">Din't Have an Account </h2>
                <p>Simply Create your account by clicking the Signup Button</p>
                <a href="signup.html">
                <button type="button" class="btn btn-dark">SIGN UP</button>
                </a>
            </div>
        </div>
    </div>
</div>